.windowImg {
    margin-left: 35px;
}

.player {
    margin-top: 5%;
    border: 1px solid #E6EE9C;
    width: 96%;
    height: 700px;
    background: #F0F4C3;
    margin-left: 2%;
}

.playerImg {
    display: block;
    height: 350px;
    width: 600px;
    border: 1px solid orange;
    border-radius: 3px;
}

.controls {
    width: 600px;
}


/*Button Wrapper*/
.btnWrapper {
    background: rgba(0, 0, 0, 0.63);
    border-radius: 3px;
    border-bottom: 1px solid #ff5419;
    width: 600px;
    height: 100px;
}


/*Button Color*/
.buttonColor {
    margin-left: 4%;
    color: white;
}

/*Volume settings*/
.volume { 
    margin-left: 80%;
    margin-top: 30px;
    border-radius: 100%;
    background: #312b2b;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 4px 8px 4px 8px;
    border-bottom: 1px solid #ff5419;
}


/*Show Play or Pause*/
.fa-play:before {
    margin-left: 10px;
    content: "\f04b";
}

.fa-pause:before {
    margin-left: 6px;
    content: "\f04c";
}

/*Player Settings*/
.showPlay,
.showPause {
    position: fixed;
    margin-top: 18px;
    border-radius: 100%;
    border-bottom: 1px solid #ff5419;
    margin-left: 20px;
    padding: 10px;
    width: 70px;
    background: #312b2b;
}

.PlayTitle {
    color: white;
    font-family: arial-black;
}

.check {
    margin-top: 1%;
    width: 600px;
    border-bottom: 1px solid #ff5419;
    padding-bottom: 100px;
    background: rgba(0, 0, 0, 0.63);
}
