
.mainPage.ng-enter  { z-index:9999; }
.mainPage.ng-enter {
  animation: my_fade_in 1.5s linear;
  -webkit-animation: my_fade_in 1.5s linear;
}



@keyframes my_fade_in {
  from { opacity:0;  }
  to { opacity:1;  }
}

@-webkit-keyframes my_fade_in {
  from { opacity:0; }
  to { opacity:1; }
}





html {
    overflow-y: hidden;
}

body {
    font-family: helvetica, sans-serif;
    height: 100%;
    width: 100%;
    background: rgba(44, 53, 44, 0.8);
}


/*Reset focus*/

*:focus {
    outline: none;
}


/*Logo*/

.logoPos {
    background: rgb(0, 0, 0);
    border-bottom: 1px solid #ff5419;
}

.songCover > .logo {
    position: absolute;
    border: none;
    right: 0;
    top: 0;
}

.logo {
    height: 100px;
    width: 138.8px;
    background: #312e2e;
}


/*Outer Page Layout*/

.fullPage {
    position: absolute;
    width: 100%;
    height: 100%;
}


/*MUSIC PLAYER*/

.fa-play:before {
    margin-left: 10px;
    content: "\f04b";
    color: #ff5419;
}

.fa-pause:before {
    margin-left: 6px;
    content: "\f04c";
    color: #ff5419;
}

.fa-step-forward:before {
    margin-left: 5px;
    content: "\f050";
    color: #ff5419;
}


/*Volume*/

.volume {
    margin-left: 92%;
    padding: 10px;
}

.fa-volume-off:before {
    position: absolute;
    color: #ff5419;
    margin-top: 1%;
    content: "\f026";
}

.fa-volume-up:before {
    position: absolute;
    margin-top: 1%;
    color: #ff5419;
    content: "\f028";
}

.fa-volume-down:before {
    position: absolute;
    margin-top: 1%;
    color: #ff5419;
    content: "\f027";
}


/*Player Settings*/

.showPlay,
.showPause,
.showNext {
    position: absolute;
    margin-top: 1%;
    border-radius: 100%;
    border-bottom: 1px solid #ff5419;
    padding: 10px;
    width: 70px;
    background: none;
    transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    -webkit-transition: opacity 0.25s ease-in-out;
}

.showPlay {
    margin-left: 15px;
}

.showPause {
    margin-left: 105px;
}

.showNext {
    margin-left: 195px
}

.showPlay:hover,
.showPause:hover,
.showNext:hover {
    opacity: 0.3;
}


/*Button Wrapper*/

.btnWrapper {
    position: absolute;
    background: rgb(50, 55, 50);
    margin-top: 10px;
    width: 100%;
    bottom: 0;
    height: 100px;
    transition: border-top 0.3s ease;
}

.btnWrapper:hover {
    border-top: 1px solid #ff5419;
}


/*Playlist*/

.playList {
    overflow: scroll;
    margin-top: 1%;
    margin-left: 1%;
    border-bottom: 1px solid white;
    width: 50%;
    height: 71%;
    border-radius: 3px;
    background: rgb(32, 34, 32);
}

.separator {
    margin-top: 11%;
    border-color: #ff5419;
}

.songCoverPL,
.singerTitle,
.singerName,
.releaseYear {
    position: absolute;
    font-family: helvetica, sans-serif;
    display: inline-block;
    color: white;
    font-weight: 300;
}

.songCoverPL {
    width: 60px;
    height: 40px;
    left: 5px;
    top: 5px;
}

.tracks {
    position: relative;
    list-style-type: none;
    margin-top: 1%;
    padding: 3% 0 3% 0;
    margin-left: -6%;
    right: inherit;
    height: 3%;
    background: #2b2721;
    transition: background 0.4s ease;
}

.initTrack {
    margin-top: -1%;
}

.tracks:hover {
    background: rgba(255, 84, 25, 0.22);
}

.singerTitle {
    margin-top: -2.5%;
    margin-left: 11%;
    font-weight: bold;
    font-style: inherit;
    color: #ff5419;
    padding: 0;
}

.singerName {
    margin-top: 0.5%;
    margin-left: 11%;
    font-weight: bold;
    color: orange;
}

.releaseYear {
    margin-top: 0;
    left: 80%;
    font-weight: bold;
    color: orange;
}

.res {
    margin-left: 80%;
    color: #ff5419;
    font-style: italic;
    margin-top: 1%;
}

.plTitle > p {
    position: fixed;
    color: white;
    background: #202220;
    font-weight: 300;
    font-size: 2em;
    text-align: center;
    padding-top: 10px;
    font-kerning: initial;
    width: 50%;
    padding-bottom: 1%;
    font-family: helvetica;
    z-index: 9999;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}


/*CHAT SYSTEM*/

.chats {
    position: absolute;
    top: 14%;
    margin-left: 52%;
    width: 47.5%;
}


/*Message Input*/

.msgInput > .userMsg,
.msgInput > .chatMsgSend {
    margin-top: 1%;
}

.msgInput > .userMsg {
    width: 80%;
    text-shadow: none;
    padding-left: 10px;
}


/*Send Message*/

.chatMsgSend {
    left: 81%;
    width: 18%;
}

.chatMsgSend:hover {
    color: #ff5419;
    font-weight: 300;
    border-color: #ff5419;
}


/*Background Message input and send message*/

.background {
    position: absolute;
    background: rgba(0, 0, 0, 0.63);
    height: 17%;
    top: 96%;
    border-bottom: 1px solid white;
    border-radius: 3px;
    border-right: none;
    border-left: none;
    border-top: none;
    color: white;
}

.msgInput > .userMsg:hover,
#messages:hover,
.inputSearch:hover,
.userText:hover,
.message:hover,
.playList:hover {
    border-color: #ff5419;
}


/*Chat - Fixed height settings*/

#messages {
    -moz-column-count: 3;
    /* Firefox */
    -webkit-column-count: 3;
    /* Safari and Chrome */
    column-count: auto;
    height: 482px;
    background: rgba(0, 0, 0, 0.63);
    overflow: auto;
    margin-right: 1%;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid white;
}


/*Chat - Baloon settings*/

.message {
    position: relative;
    border: 1px;
    display: block;
    word-break: break-word;
    font-size: 1.1em;
    max-width: 50%;
    padding: 6px;
    color: #fff;
    border-radius: 3px;
    border-bottom: 1px solid rgba(187, 187, 187, 0.7);
}

.message.left {
    margin: 12px -5px 10px 50%;
    background: rgba(255, 84, 25, 0.35);
}

.message.right {
    margin: 12px -5px 10px 10px;
    background: rgba(255, 84, 25, 0.85);
}


/*Chat is typing*/

.isTyping {
    position: fixed;
    font-size: 2em;
    font-size: 1em;
    z-index: 9999;
    font-weight: 300;
    left: 82.5%;
    top: 82%;
    background: none;
    color: rgb(255, 84, 25);
}

.isTyping:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4, end) 900ms infinite;
    animation: ellipsis steps(4, end) 900ms infinite;
    content: "\2026";
    /* ascii code for the ellipsis character */
    width: 0px;
}

@keyframes ellipsis {
    to {
        width: 1.25em;
    }
}

@-webkit-keyframes ellipsis {
    to {
        width: 1.25em;
    }
}



/*Landing page*/

.landingLogo {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-filter: blur(3px);
    -webkit-transform: translate3d(0, 0, 0);
    overflow: hidden;
    /*// Hide overflow to contain the background*/
}

.userForm {
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, 0);
    z-index: 9999;
}

.title {
    position: absolute;
    transform: translate(-50%, 0);
    background: none;
    top: 1%;
    left: 50%;
    color: white;
    font-size: 10em;
    font-weight: bold;
    z-index: 9999;
    opacity: 0.8;
}

.subTitle {
    position: absolute;
    background: none;
    transform: translate(-50%, 0);
    top: 25%;
    width: 90%;
    color: white;
    font-size: 4em;
    font-weight: 300;
    z-index: 9999;
    left: 50%;
    opacity: 1;
}

.footerMsg {
    position: absolute;
    background: none;
    top: 90%;
    left: 90%;
    color: white;
    font-size: 2em;
    font-weight: bold;
    z-index: 9999;
    opacity: 0.9;
}

.userText {
    background: none;
    color: white;
    font-size: 4em;
    font-weight: 300;
    text-align: center
}

.userText,
.inputSearch {
    border-bottom: 1px solid white;
    border-right: none;
    border-left: none;
    border-top: none;
    outline: none;
}


/*Search*/

.inputSearch {
    position: absolute;
    transform: translate(-50%, 0);
    top: 3%;
    left: 50%;
    text-align: center;
    font-size: 2em;
    font-weight: 200;
    color: white;
    font-family: sans-serif;
    background: none;
}

.input-lg {
    border-radius: 0;
}

.form-control:focus {
    border-color: white;
    outline: none;
    outline-color: none;
    outline-style: none;
    outline-width: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control {
    display: block;
    width: 40%;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
}

input-group .form-control {
    position: absolute;
    width: 100%;
    font-weight: lighter;
    outline: none;
    margin-bottom: 0;
}


/*Change placeholder color*/

.inputSearch::-webkit-input-placeholder {
    color: white;
}

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: white;
    /*opacity: 0.9;*/
    font-weight: 300;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: white;
    /*opacity: 1;*/
    font-weight: 300;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: white;
    /*opacity: 1;*/
    font-weight: 300;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
  /*opacity: 0.9;*/
  font-weight: 300;
}
