<!-- Full page wrapper-->
<div class='fullPage'>
    <div class="logoPos">
        <img class="logo text-center" src="../assets/uHerd.me-logo.png">
    </div>
    <div class="chats">
        <!-- Populate Messages -->
        <ul class="well" id="messages">
            <li class="message" ng-repeat="chatMessage in chatMessages track by $index"> {{ chatMessage }}<br></li>
        </ul>
        <!-- submit Chats -->
        <form ng-submit="chatSend()" class="msgInput">
            <input type="text" ng-change="updateTyping()" ng-model="chatMsg" autocomplete="off" autofocus/>
        </form>
    </div>
    <div class='player'>
        <div class="windowImg">
            <img class='songCover' src="#">
            <div class="btnWrapper">
                <div class="playButton">
                    <i class="fa fa-play fa-3x showPlay buttonColor" ng-click="play()" aria-hidden="true"></i>
                </div>
                <div class="pauseButton">
                    <i class="fa fa-pause fa-3x showPause buttonColor" ng-click="pause()" aria-hidden="true"></i>
                </div>
                <!--  <button class='stop'><i class="fa fa-stop fa-1x buttonColor" aria-hidden="true"></i></button> -->
                <div class='volume'><i class="fa fa-volume-up fa-2x buttonColor showFullVolume" aria-hidden="true"></i><i class="fa fa-volume-down fa-2x buttonColor
showMidVolume" aria-hidden="true"></i><i class="fa fa-volume-off fa-2x buttonColor showMuteVolume" aria-hidden="true"></i></div>
            </div>
            <div class="well playListBorder">
                <span class="innerPlayList">Playlist</span>
                <hr class="separator">
                <ul class="tracks" ng-animate="'highlight'">
                    <li>{{ item }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>