<div class="landingTitle ">
    <h1 class="title">uHerd.me</h1>
    <h2 class="subTitle text-center">Listen together, wherever, but not, you know, together-together</h2>
    <form ng-submit="submit()" class="userForm" align="center" important>
        <input type="text" align="center" ng-model="text" name="text" class="userText text-center" autocomplete="off" autofocus placeholder="username" />
        <input type="submit" id="submit" value="Submit" ng-hide="submit" />
    </form>
    <h3 class="footerMsg">*no cows</h3>
</div>

<img class="landingLogo" src="../assets/BUSHgiphy.gif">
