<div class='player well'>
    <div class="windowImg">
        <img class='playerImg' src="http://icons.iconarchive.com/icons/danleech/simple/512/soundcloud-icon.png">
        <div class="btnWrapper">
            <div class="playPauseButton">
                <i class="fa fa-pause fa-3x showPause buttonColor" aria-hidden="true"></i>
                <i class="fa fa-play fa-3x showPlay buttonColor" aria-hidden="true"></i>
            </div>
            <!--  <button class='stop'><i class="fa fa-stop fa-1x buttonColor" aria-hidden="true"></i></button> -->
            <button class='volume'><i class="fa fa-volume-up buttonColor showFullVolume" aria-hidden="true"></i><i class="fa fa-volume-down buttonColor
showMidVolume" aria-hidden="true"></i><i class="fa fa-volume-off buttonColor showMuteVolume" aria-hidden="true"></i></button>
        </div>
        <div class="well check"><span class="PlayTitle">Playlist</span>
            <hr>
        </div>
    </div>
</div>
